﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<strong>Revanth Kovuri</strong>
<p>Master of Science in Applied Computer Science</p>

<address>
    1121 N College Dr, Apt #54<br />
    Maryville, MO-64468<br />
    <abbr title="Phone">P:</abbr>
    660.528.0116
</address>

<address>
    <strong>E-mail:</strong> <a href="https://sso.nwmissouri.edu/adfs/ls/?client-request-id=8208786c-c373-4b7a-adb9-e1767822b00b&username=&wa=wsignin1.0&wtrealm=urn%3afederation%3aMicrosoftOnline&wctx=estsredirect%3d2%26estsrequest%3drQIIAY2RO2_TUABG7Tix0oKgMDFWFRPIj-vHdRKJwXFM86BNY6q0mZDjR30T29f1I048MCB-QOduILFEQkJMwMDCVgmprGxdEGJCLDDSiIWxZzj65vPdowALGnf5fwjMygzvuoCxnNX6j_j2-oY_rz5LPhW91-8vZvOtN9dOyRthHqAkwVmMWMfOluSWl6ZR0uA4nKU-xlMWuy6yHBHKrIUDDucm944kz0lyWVKgCCUoKZICFRko9XpNZl3HtgGENuPaNZuRZNtkxkJNZgAPJNuRTdd0al9LN_tqlnrCSjhGhfOrtObiOHgS4SQ9pZ62rFlXG6m5rrcM41GWe3BiHDjdZrw9nHaRJh1pPWGcKzNRkcUiHT4cuoiZt7Z3m-pgZ7-zMKKF7wU8D_Qg7ASTgXqMDfC46aE2r-92R4l_WIdBViiRn6bTPWZc9JVxmNmyYvKi286X1JV6vqXoyyABDs8oGkdOiOzzMvmjfJ2nGtXq-gZxh9gk_pTJl5XL7t-ev9Cy31_aHz9XLm69KhFnFa4-HTij-yjWkn7X6h3BSScVkxYEuSgJBwuE9oX-Ah-qezu8_oBvgBOaPKHp7zT5kyY-rF3hpL81">s528141@nwmissouri.edu</a><br />
</address>

<strong>Vikas Bavikadi</strong>
<p>Master of Science in Applied Computer Science</p>

<address>
    1121 N College Dr, Apt #101<br />
    Maryville, MO-64468<br />
    <abbr title="Phone">P:</abbr>
    660.853.9352
</address>

<address>
    <strong>E-mail:</strong> <a href="https://sso.nwmissouri.edu/adfs/ls/?client-request-id=8208786c-c373-4b7a-adb9-e1767822b00b&username=&wa=wsignin1.0&wtrealm=urn%3afederation%3aMicrosoftOnline&wctx=estsredirect%3d2%26estsrequest%3drQIIAY2RO2_TUABG7Tix0oKgMDFWFRPIj-vHdRKJwXFM86BNY6q0mZDjR30T29f1I048MCB-QOduILFEQkJMwMDCVgmprGxdEGJCLDDSiIWxZzj65vPdowALGnf5fwjMygzvuoCxnNX6j_j2-oY_rz5LPhW91-8vZvOtN9dOyRthHqAkwVmMWMfOluSWl6ZR0uA4nKU-xlMWuy6yHBHKrIUDDucm944kz0lyWVKgCCUoKZICFRko9XpNZl3HtgGENuPaNZuRZNtkxkJNZgAPJNuRTdd0al9LN_tqlnrCSjhGhfOrtObiOHgS4SQ9pZ62rFlXG6m5rrcM41GWe3BiHDjdZrw9nHaRJh1pPWGcKzNRkcUiHT4cuoiZt7Z3m-pgZ7-zMKKF7wU8D_Qg7ASTgXqMDfC46aE2r-92R4l_WIdBViiRn6bTPWZc9JVxmNmyYvKi286X1JV6vqXoyyABDs8oGkdOiOzzMvmjfJ2nGtXq-gZxh9gk_pTJl5XL7t-ev9Cy31_aHz9XLm69KhFnFa4-HTij-yjWkn7X6h3BSScVkxYEuSgJBwuE9oX-Ah-qezu8_oBvgBOaPKHp7zT5kyY-rF3hpL81">s528105@nwmissouri.edu</a><br />
</address>

<strong>Sandeep Chilmakuri</strong>
<p>Master of Science in Applied Computer Science</p>

<address>
    1121 N College Dr, Apt #22<br />
    Maryville, MO-64468<br />
    <abbr title="Phone">P:</abbr>
    660.528.0921
</address>

<address>
    <strong>E-mail:</strong> <a href="https://sso.nwmissouri.edu/adfs/ls/?client-request-id=8208786c-c373-4b7a-adb9-e1767822b00b&username=&wa=wsignin1.0&wtrealm=urn%3afederation%3aMicrosoftOnline&wctx=estsredirect%3d2%26estsrequest%3drQIIAY2RO2_TUABG7Tix0oKgMDFWFRPIj-vHdRKJwXFM86BNY6q0mZDjR30T29f1I048MCB-QOduILFEQkJMwMDCVgmprGxdEGJCLDDSiIWxZzj65vPdowALGnf5fwjMygzvuoCxnNX6j_j2-oY_rz5LPhW91-8vZvOtN9dOyRthHqAkwVmMWMfOluSWl6ZR0uA4nKU-xlMWuy6yHBHKrIUDDucm944kz0lyWVKgCCUoKZICFRko9XpNZl3HtgGENuPaNZuRZNtkxkJNZgAPJNuRTdd0al9LN_tqlnrCSjhGhfOrtObiOHgS4SQ9pZ62rFlXG6m5rrcM41GWe3BiHDjdZrw9nHaRJh1pPWGcKzNRkcUiHT4cuoiZt7Z3m-pgZ7-zMKKF7wU8D_Qg7ASTgXqMDfC46aE2r-92R4l_WIdBViiRn6bTPWZc9JVxmNmyYvKi286X1JV6vqXoyyABDs8oGkdOiOzzMvmjfJ2nGtXq-gZxh9gk_pTJl5XL7t-ev9Cy31_aHz9XLm69KhFnFa4-HTij-yjWkn7X6h3BSScVkxYEuSgJBwuE9oX-Ah-qezu8_oBvgBOaPKHp7zT5kyY-rF3hpL81">s528114@nwmissouri.edu</a><br />
</address>


<strong>Bapuji</strong>
<p>Master of Science in Applied Computer Science</p>

<address>
    1121 N College Dr, Apt #22<br />
    Maryville, MO-64468<br />
    <abbr title="Phone">P:</abbr>
    660.528.0391
</address>

<address>
    <strong>E-mail:</strong> <a href="https://sso.nwmissouri.edu/adfs/ls/?client-request-id=8208786c-c373-4b7a-adb9-e1767822b00b&username=&wa=wsignin1.0&wtrealm=urn%3afederation%3aMicrosoftOnline&wctx=estsredirect%3d2%26estsrequest%3drQIIAY2RO2_TUABG7Tix0oKgMDFWFRPIj-vHdRKJwXFM86BNY6q0mZDjR30T29f1I048MCB-QOduILFEQkJMwMDCVgmprGxdEGJCLDDSiIWxZzj65vPdowALGnf5fwjMygzvuoCxnNX6j_j2-oY_rz5LPhW91-8vZvOtN9dOyRthHqAkwVmMWMfOluSWl6ZR0uA4nKU-xlMWuy6yHBHKrIUDDucm944kz0lyWVKgCCUoKZICFRko9XpNZl3HtgGENuPaNZuRZNtkxkJNZgAPJNuRTdd0al9LN_tqlnrCSjhGhfOrtObiOHgS4SQ9pZ62rFlXG6m5rrcM41GWe3BiHDjdZrw9nHaRJh1pPWGcKzNRkcUiHT4cuoiZt7Z3m-pgZ7-zMKKF7wU8D_Qg7ASTgXqMDfC46aE2r-92R4l_WIdBViiRn6bTPWZc9JVxmNmyYvKi286X1JV6vqXoyyABDs8oGkdOiOzzMvmjfJ2nGtXq-gZxh9gk_pTJl5XL7t-ev9Cy31_aHz9XLm69KhFnFa4-HTij-yjWkn7X6h3BSScVkxYEuSgJBwuE9oX-Ah-qezu8_oBvgBOaPKHp7zT5kyY-rF3hpL81">s528119@nwmissouri.edu</a><br />
</address>
