﻿@model MyMSACS.Models.StudentDegreePlan

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentDegreePlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanAbbrev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanAbbrev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncludesInternship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncludesInternship)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Degree.DegreeAbbrev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeStatus.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.GivenName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentDegreePlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
